#main-menu{
top: 10;
left: 0;
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-around;
width: 100%;
height: 30px;
padding: 20px;
font-size: 20px;
font-weight: 700;
background-color:rgb(255, 163, 43)
}

main{
    margin-top: 150px;
}
 body{
     
   font-family: cursive;
   background-color: rgb(250, 240, 150)
 }


#inicio {
    background-color:rgb(255, 255, 199);
    padding: 10px 20px 30px 40px;
    border-radius: 15px 50px;
    margin: 10px;
    text-align: center;
}

#info{
  text-align: center;
  background-color: rgb(247, 255, 170);
}

#logo{
  padding-left: 500px;
  
}
#nuestras-cabanas{
  text-align: center;
}